@use '../../../App.scss';

.homepage {
  padding: 2rem;

  .introduce-1 {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;

    .information {
      flex: 1;
      font-size: 3.2rem;

      div {
        margin-bottom: 1rem;
        line-height: 1.5;
      }
    }

    img {
      flex: 1;
      max-width: 100%;
      height: auto;
      border-radius: 1rem;
      object-fit: cover;
    }
  }
}
