.tour-card {
  .card-content {
    padding: 2rem;
    border-bottom: 0.3rem solid;

    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price-info {
        // Container for price, name, and type information

        .price {
          color: #f13030;
          font-size: 1.7rem;
        }

        .koi-name {
          color: #22181c;
          font-size: 1.5rem;
          margin-top: 1rem;
        }

        .koi-type {
          color: #22181c;
          font-size: 1.6rem;
          display: flex;
          align-items: center;
          gap: 0.7rem;

          .type-icon {
            width: 2.4rem;
            aspect-ratio: 0.96;
          }
        }
      }

      .badges {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .best-seller {
          background-color: #f45b69;
          color: #f6e8ea;
          padding: 1.1rem 1.8rem;
          border-radius: 3rem;
          font-size: 1.1rem;
        }

        .rating-wrapper {
          display: flex;
          gap: 0.4rem;
          align-items: center;
          margin-top: 1.5rem;

          .rating-icon {
            width: 2.5rem;
            aspect-ratio: 1.09;
          }
        }
      }
    }
  }

  .koi-stats {
    display: flex;
    justify-content: space-between;
    padding: 0 0.9rem;
    margin-top: 1.8rem;
    .stat-item {
      display: flex;
      gap: 0.6rem;
      align-items: center;

      .stat-icon {
        width: 2.4rem;
      }

      .stat-value {
        color: #22181c;
        font-size: 1.6rem;
      }
    }
  }
}
