@use '../../../App.scss';

.sidebar {
  .sidebar-content {
    border-radius: 1rem;
    border: 0.1rem solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23.2rem;
    .profile-image {
      border-radius: 6.9rem;
      width: 17rem;
      margin-top: 2rem;
    }
    .name-user {
      font-size: 3.2rem;
    }
    .btn {
      display: flex;
      /* align-content: center; */
      align-items: center;
      /* align-self: center; */
      flex-direction: column;
      gap: 3rem;
      padding-bottom: 2.7rem;
    }
    .menu-item {
      text-align: center;
      color: var(--accent);
      font: 700 2.4rem Inter, sans-serif;
      background: transparent;
      border: none;
      &:hover {
        background-color: rgba(244, 91, 105, 0.1);
      }
    }
  }
}
